table
	tbody
		for property in properties
			if property.status !== `ED`
				tr
					td.property= property.property
					td: a(href=property.url)= property.title
					td= property.status
div(style=`height: 100vh;`)
